@model DomainCustomer.Entities.Customer

@{
    ViewBag.Title = "Recuperar Senha";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}
@section breadcrumbs {
    <div class="ui container">
        <div class="ui one column grid stackable middle aligned">
            <div class="row">
                <div class="column">
                    <h1>@ViewBag.Title</h1>
                    <div class="ui breadcrumb text small">
                        <a class="section" href="/">Home</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/assistedsale">Área do Vendedor</a>
                        <i class="right angle icon divider"></i>
                        <a class="section active">@ViewBag.Title</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="ui grid middle aligned center aligned">
    <div class="row">
        <div class="five wide computer sixteen wide tablet sixteen wide mobile column">
            <form action="" class="ui large form">
                <div class="ui segment">
                    <div class="ui grid very relaxed stackable middle aligned grid">
                        <div class="row one column">
                            <div class="column">
                                <div class="ui error message"></div>
                            </div>
                            <div class="column">
                                <div class="field required">
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" id="email" name="email" placeholder="E-mail" maxlength="100">
                                    </div>
                                </div>
                                <div class="ui divider hidden"></div>
                                <button type="button" class="ui fluid large submit primary button" id="recuperarSenhaVendedor">
                                    Recuperar Senha
                                </button>
                                <div class="ui divider"></div>
                                <p><a href="/assistedsale/login">Voltar</a></p>
                            </div>
                        </div>
                    </div>
                </div>                
            </form>
        </div>
    </div>
</div>
