<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<div class="ui container margin top bottom large">
    <div class="ui margin top bottom large column">
        <h1 class="ui header">Ops...</h1><br />
        <div class="row">
            <p>Um erro ocorreu durante o processamento do seu pedido.</p>
        </div>
    </div>
</div>

</body>
</html>
