@model List<DomainSocialNetwork.Entities.SocialNetwork>

<div class="left floated column">
    <socialbar>
        @if (Model != null)
        {
            foreach (var social in Model)
            {
                <a href="@social.Content">
                    <i class="@social.Identifier icon"></i>
                </a>
            }
        }
        @*<i class="facebook icon"></i>
        <i class="twitter icon"></i>
        <i class="instagram icon"></i>
        <i class="youtube play icon"></i>
        <i class="whatsapp icon"></i>
         <i class="vimeo icon"></i>
        <i class="wordpress icon"></i>
        <i class="pinterest icon"></i>
        <i class="google plus icon"></i>*@ 

    </socialbar>
</div>
