<div class="content">
    <div class="ui form">
        @Html.AntiForgeryToken()
        <h4>Já sou cadastrado</h4>
        <div class="field">
            <div class="ui left icon input">
                <i class="mail icon"></i>
                <input type="text" autocomplete="off" readonly disabled="disabled" name="UserName" class="UserName" value="@ViewBag.EmailCliente" />
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" class="password" placeholder="Senha">
            </div>
        </div>
        <a class="ui fluid large submit primary button loginPayment">Entrar</a>
        <div class="ui divider"></div>
        <p>Esqueceu sua senha? <a id="RecoverPasswordByEmail">Recuperar senha</a></p>
    </div>
</div>