<div class="ui mini modal key-login" data-modal="" data-url="@Model">
    <i class="close icon"></i>
    <div class="content">
        <div class="ui form" id="formAccessKey">
            <h4>Já sou cadastrado</h4>
            <div class="field">
                <div class="ui left icon input">
                    <i class="mail icon"></i>
                    <input class="field disabled" type="text" name="UserName" id="UserName" placeholder="Email">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="Password" id="Password" placeholder="Senha">
                </div>
            </div>
            @Html.Action("GetRecaptchaV3", "Company", new { Module = "Login" })
            <button type="button" id="Entrar" class="ui fluid large submit primary button">Entrar</button>
            <div class="ui divider"></div>
            <p>
                Esqueceu sua senha? <a href="/Customer/Forgot/">Recuperar senha</a>
            </p>
        </div>
    </div>
</div>