<div class="content">
    <div class="ui form" id="dadosPassword">
        @Html.AntiForgeryToken()
        <h4>Crie sua senha</h4>
        <div class="field required">
            <label>Nova Senha</label>
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="pwdUser" class="pwdUser" placeholder="*******">
            </div>
        </div>
        <div class="field required">
            <label>Confirme nova senha</label>
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="pwdUserConfirm" class="pwdUserConfirm" placeholder="*******">
            </div>
        </div>

        <a class="ui fluid large submit primary button pwdPayment" id="pwdPayment">Entrar</a>
    </div>
</div>