// -----[System Wide - Variables]----- //
@import "variables";

// -----[Semantic-UI - https://semantic-ui.com/ / sass-semantic-ui - https://github.com/bloodf/sass-semantic-ui]----- //
@import "semantic_ui";

// -----[Semantic-UI-Calendar - https://github.com/mdehoog/Semantic-UI-Calendar]----- //
@import "semantic-ui-calendar/semantic-ui-calendar";

// -----[SweetAlert 2 - https://limonte.github.io/sweetalert2/]----- //
@import "node_modules/sweetalert2/src/sweetalert2";

// -----[InputMask - https://github.com/RobinHerbots/Inputmask]----- //
/*@import "node_modules/inputmask/css/inputmask";*/

// -----[SlickCarousel - http://kenwheeler.github.io/slick/]----- //
@import "node_modules/slick-carousel/slick/slick.scss";
//@import "node_modules/slick-carousel/slick/slick-theme.scss";

// -----[Default Theme]----- //
@import "default/theme";