
    
@if (Model.ProgressiveDiscount != null)
{
    <div class="row one column" id="discount-detail">
    
        @{

            string msg = "";

            // Definindo a mensagem que será exibida
            if (Model.ProgressiveDiscount.PromotionType.ToString().Equals("QuantidadeIndividual") || Model.ProgressiveDiscount.PromotionType.ToString().Equals("QuantidadeCampanha")) // Promoção tipo Qtde
            {
                if (Model.ProgressiveDiscount.DiscountType.ToString().Equals("Porcentagem")) // desconto tipo porcentagem
                {
                    foreach (var regra in Model.ProgressiveDiscount.Rules)
                    {
                        var valorFormatadoDesconto = regra.Discount.ToString().Replace(",", ".");
                        msg += $"Comprando acima de {(int) regra.Quantity} unidades você recebe um desconto de {valorFormatadoDesconto}% <br>";
                    }

                }
                else
                {
                    foreach (var regra in Model.ProgressiveDiscount.Rules) // desconto tipo valor
                    {
                        var valorFormatadoDesconto = regra.Discount.ToString().Replace(".", ",");
                        msg += $"Comprando acima de {(int) regra.Quantity} unidades você recebe um desconto de R${valorFormatadoDesconto} <br>";
                    }
                }

            }
            else if (Model.ProgressiveDiscount.PromotionType.ToString().Equals("ValorIndividual") || Model.ProgressiveDiscount.PromotionType.ToString().Equals("ValorCampanha")) // Promoção tipo valor
            {
                if (Model.ProgressiveDiscount.DiscountType.ToString().Equals("Porcentagem")) // desconto tipo porcentagem
                {
                    foreach (var regra in Model.ProgressiveDiscount.Rules)
                    {
                        var valorFormatadoQuantidade = regra.Quantity.ToString().Replace(".", ",");
                        var valorFormatadoDesconto = regra.Discount.ToString().Replace(",", ".");
                        msg += $"Comprando acima de R${valorFormatadoQuantidade} você recebe um desconto de {valorFormatadoDesconto}% <br>";
                    }

                }
                else
                {
                    foreach (var regra in Model.ProgressiveDiscount.Rules) // desconto tipo valor
                    {
                        var valorFormatadoQuantidade = regra.Quantity.ToString().Replace(".", ",");
                        var valorFormatadoDesconto = regra.Discount.ToString().Replace(".", ",");
                        msg += $"Comprando acima de R${valorFormatadoQuantidade} você recebe um desconto de R${valorFormatadoDesconto} <br>";
                    }
                }
            }


            // Apenas Flag
            if (!String.IsNullOrEmpty(Model.ProgressiveDiscount.Image) && !Model.ProgressiveDiscount.TipDisplay)
            {
                <div class="column">
                    <img src="@Model.ProgressiveDiscount.Image" class="flag-discount" alt="">
                </div>
            }
            else if (Model.ProgressiveDiscount.TipDisplay)
            {
                <div class="column">
                    @if (!String.IsNullOrEmpty(Model.ProgressiveDiscount.Image))
                    {
                        <img src="@Model.ProgressiveDiscount.Image" class="flag-discount">
                    }
                    <div class="discount-rules">Compre mais e pague menos, <span class="discount-rules">clique e saiba mais</span></div>
                </div>

                <div class="ui modal modal-discount-rules">
                    <i class="icon close"></i>
                    <div class="content">
                        <div class="ui header">Regras da Campanha</div>
                        <div class="ui divider"></div>
                        @Html.Raw(msg)
                    </div>
                </div>
            }
        }

    </div>
}
        
