@model IEnumerable<DomainProduct.Entities.ProductImage>


<div class="car-gallery thumbnails slick-dotted">
    @foreach (var item in Model)
    {
        <a href="@(item.ImageHighResolution != null ? item.ImageHighResolution : "#" )" data-standard="@item.ImageDefault">
            @* HREF = Imagem ZOOMO / Data-starndard = Imagem Sem zoom*@
            <img @*src="/assets/image/img_default.png" data-*@src="@item.ImageDefault" onerror="imgError(this)" class="ui image small centered"/>
        </a>
    }
</div>
<div class="ui divider hidden"></div>
