@model List<DomainProduct.Entities.Product>
@if (Model != null && Model.Any())
{
<div class="ui container">
    <div class="ui horizontal divider">
        Produtos Relacionados
    </div>
    <script>
        jQuery(document).ready(function($) {
            var settings = {
                prevArrow: '<a class="slick-prev ui mini button basic black icon"><i class="chevron left icon"></i></a>',
                nextArrow: '<a class="slick-next ui mini button basic black icon"><i class="chevron right icon"></i></a>',
                dots: false,
                slidesToShow: 4,
                accessibility: false,
                responsive: [
                    {
                        breakpoint: 933,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 723,
                        settings: {
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            };
            var $sliderCard = jQuery(".car-relacionados .card"),
                $slider = jQuery(".car-relacionados"),
                $width = jQuery(".pusher").width();
                
            if ($sliderCard.length >= 4 && $width > 934) {
                $slider.slick(settings);
            } else if ($sliderCard.length >= 3 && $width < 724) {
                $slider.slick(settings);
            } else if ($sliderCard.length >= 2 && $width < 481) {
                $slider.slick(settings);
            } 
        });
    </script>
    <div class="ui cards centered car-relacionados slideshow">
        @foreach (var product in Model)
        {
            @Html.Partial("~/Views/Shared/Object/Product/_ProductInCard.cshtml", product)
        }
    </div>
    <div class="ui divider hidden"></div>
</div>
}