@model List<DomainProduct.Entities.ProductImage>

@{
    DomainProduct.Entities.SealStatus tag = new DomainProduct.Entities.SealStatus();
    List<DomainProduct.Entities.SealStatus> tags = new List<DomainProduct.Entities.SealStatus>();

    tag = Session["SealStatusV"] != null ? (DomainProduct.Entities.SealStatus)Session["SealStatusV"] : null;
    tags = Session["SealsStatusV"] != null ? (List<DomainProduct.Entities.SealStatus>)Session["SealsStatusV"] : null;

}

<div class="ui grid">
    <div class="row">
        <div class="column center aligned">
            <div class="ui image">
                @if (tags != null && tags.Count > 0)
                {
                    <div class="ui top right attached label imagetag seals">
                        @foreach (var _sealStatus in tags)
                        {
                            if (_sealStatus.Name != "Normal")
                            {
                                <img src="@_sealStatus.Image" class="ui image tiny" onerror="imgError(this)">


                            }
                        }
                    </div>
                }


                <div class="produto easyzoom easyzoom--overlay easyzoom--with-thumbnails easyzoom--with-toggle">
                    @if (Model != null && Model.Count() > 0)
                    {
                        <a href="@(Model.FirstOrDefault().ImageHighResolution != null ? Model.FirstOrDefault().ImageHighResolution : "#" )">
                            @* Tem de Setar aqui a imagem de tamanho maior ZOOM!*@
                            <img id="imagem-padrao" class="img" src="/assets/image/img_default.png" data-src="@Model.FirstOrDefault().ImageDefault" onerror="imgError(this)" />
                        </a>
                    }
                </div>
                <button class="ui button basic small toggleZoom mobile only" data-active="false">Habilitar Zoom</button>
            </div>
        </div>
    </div>


    <div class="row one column">
        <div class="column">
            @Html.Partial("~/Views/Product/Details/_Gallery.cshtml", Model)
        </div>
    </div>
</div>
