<div class="ui container fluid infoBar">
    <div class="ui container">
        <div class="ui middle aligned centered stackable grid  computer only">
            <div class="row doubling four column ">
                <div class="column">
                    <div class="icon_place">
                        <i class="shipping icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Frete Grátis</h3>
                        <p>Frete grátis para todo o brasil e territórios.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="credit card alternative icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Parcele suas compras</h3>
                        <p>Parcele em até 12x sem juros suas compras no site.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="rocket icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Entrega Expressa</h3>
                        <p>Recebe suas compras mais rápido em até 3 dias*.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="lock icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Compra Segura</h3>
                        <p>Loja com SSL e sistemas de proteção de suas informações.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>