@{
    ViewBag.Title = "Error 500";
    Layout = "~/Views/Shared/Base/_LayoutErrors.cshtml";
}

<div class="vertical-center">
    <div class="horizontal-center">
        <div class="content">
            <div class="text-1">
                <span>Falha interna no servidor</span>
            </div>
            <div class="text-2">
                <span>Falha interna, favor entrar em contato com administrador.</span>
            </div>
            <a href="/home">
                <button class="ui button">
                    Retornar para página principal
                </button>
            </a>
            <div class="customImgLogo">
                <img src="~/assets/image/error/logo-jet.png" />
            </div>
        </div>
    </div>
</div>
