@{
    ViewBag.Title = "Error 403";
    Layout = "~/Views/Shared/Base/_LayoutErrors.cshtml";
}

<div class="vertical-center">
    <div class="horizontal-center">
        <div class="content">
            <div class="customImg">
                <img src="~/assets/image/error/oops.png" />
            </div>
            <div class="text-1">
                <span>Acesso não permitido</span>
            </div>
            <div class="text-2">
                <span>Você não tem permissão para acessar essa página</span>
            </div>
            <a href="/home">
                <button class="ui button">
                    Retornar para página principal
                </button>
            </a>
            <div class="customImgLogo">
                <img src="~/assets/image/error/logo-jet.png" />
            </div>
        </div>
    </div>
</div>
