@{
    ViewBag.Title = "Error 500";
    Layout = "~/Views/Shared/Base/_LayoutErrors.cshtml";

    string message = Request.QueryString["message"] ?? "";
}


<div class="customError margin top bottom large">
    <div class="ui container text center">
        <div class="row">
            <div class="customImg">
                <img src="~/assets/image/error/500.png" />
                <img src="~/assets/image/error/oops.png" />
            </div>
            <div class="text-1">
                <span>Falha interna no servidor</span>
            </div>
            @{
                if (message != "")
                {
                    <div class="text-2">
                        <span>Mensagem: @message</span>
                    </div>
                }
                else
                {
                    <div class="text-2">
                        <span>Falha interna, favor entrar em contato com administrador.</span>
                    </div>
                }
            }

            <a href="/home" class="ui button basic primary black margin none">
                Retornar para página principal
            </a>
            <div class="customImgLogo">
                <img src="~/assets/image/error/logo-jet.png"/>
            </div>
        </div>
    </div>
</div>