/*Colors*/

$primary-color: #2C3E50;
$secondary-color: #7F8C8D;
$active-color: #405B75;
$ascent-1-color: #2980B9;
$ascent-2-color: #F39C12;
$ascent-3-color: #C0392B;
$ascent-4-color: #1D2A37;
$ascent-5-color: #131C24;
$dark-green:#0e4f1d;