@model DomainCustomer.Entities.PagedGuest

@{
    ViewBag.Title = "Lista de Chá de Bebê";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}

@section breadcrumbs {
    <div class="ui container">
        <div class="ui one column grid stackable middle aligned">
            <div class="row">
                <div class="column">
                    <h1>@ViewBag.Title</h1>
                    <div class="ui breadcrumb text small">
                        <a class="section" href="/">Home</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/customer">Área do Cliente</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/eventlist/index">Gerenciar Lista de Eventos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="ui container margin bottom large">
    <div class="ui grid">
        <div class="row stackable vertically divided">

            @Html.Partial("~/Views/Shared/Parts/EventList/_EventListMenu.cshtml", new ViewDataDictionary() { { "option", "guest" } })

            <div class="sixteen wide mobile eleven wide tablet twelve wide computer column">
                <div class="ui form">
                    <div class="three fields">
                        <div class="field">
                            <label>Nome do Convidado</label>
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="NameGuest" id="NameGuest" value="" placeholder="João das Flores">
                            </div>
                        </div>
                        <div class="field">
                            <label>E-mail</label>
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" name="EmailGuest" id="EmailGuest" value="" placeholder="email@email.com.br">
                            </div>
                        </div>
                        <div class="field">
                            <label>&nbsp;</label>
                            <button id="addGuest" class="ui icon teal button">
                                Adicionar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ui search">
                        <div class="ui icon input fluid">
                            <input type="text" class="prompt" placeholder="Buscar...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>
                <div id="guestsList">
                    @if (Model != null)
                    {
                        @Html.Partial("~/Views/Shared/Parts/EventList/_GuestsList.cshtml", Model)
                    }
                </div>

            </div>
        </div>
    </div>
</div>