@model List<DomainCheckout.Entities.PaymentBrand>

@foreach (var item in Model)
{
    <a class="item itemTabPayment" data-tab="paymentOff"><div class="text"><i class="icon money bill alternate outline"></i><span>@item.NamePayment</span></div></a>
    <!-- Pagamento Offline -->
    <div class="ui tab segment" data-tab="paymentOff">   
        <div class="content">
            <p class="transition hidden"></p>
            <div class="field">
                <button class="ui labeled icon action large fluid button GerarPedido" data-idBrand="@item.IdPaymentBrand" data-externalcode="@item.ExternalCode" data-Card="N">
                    <i class="barcode icon"></i>
                    Pagar com @item.NamePayment
                    <input type="hidden" name="parcelamento" class="idInstallment" value="0" />
                </button>
            </div>
        </div>
    </div>
}
