<div class="ui form margin bottom small">
    <div class="ui right labeled input blc-key">
        <label>Cupom: </label>
        <input type="text" name="key" id="key" placeholder="Cupom de Desconto" autocomplete="off">
        <a class="ui label" id="applyDiscount">
            OK
        </a>
    </div>
</div>
