<div class="ui segment orange">
    <div class="ui frete">
        <div class="content">
            <div class="ui fluid items card-checkout">
                <div class="item">
                    <div class="content">
                        <div class="description">
                            <div class="ui form">
                                <div class="sixteen wide field">
                                    <div class="ui right labeled left icon input">
                                        <i class="tags icon"></i>
                                        <input type="text" name="key" id="key" placeholder="Cupom de Desconto">
                                        <a class="ui tag label orange" id="applyDiscount">
                                            Adicionar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

