.ui.form {

	&.right.aligned {

	  .inline.fields {

		.field {
		  padding: 0 0 0 1em;
		}
	  }
	}

	.field.success {

	  label {
		color: $semantic-success-green;
	  }

	  input {
		background: #f4faf4 none repeat scroll 0 0;
		border-color: $semantic-success-green-border;
		border-radius: 0.285714rem;
		box-shadow: none;
		color: $semantic-success-green;;
	  }

	  ::-webkit-input-placeholder,
	  ::-ms-input-placeholder,
	  ::-moz-placeholder,
	  :focus::-webkit-input-placeholder,
	  :focus::-ms-input-placeholder,
	  :focus::-moz-placeholder{
		color:$semantic-success-green-color;
	  }
	}

	.icon {

	  &.shopping.basket {

		&::before {
		  margin-left: -1px;
		}
	  }
	}

	.ui.transparent.inverted {

	  input:focus:not([type]),
	  input[type="text"]:focus,
	  input[type="email"]:focus,
	  input[type="search"]:focus,
	  input[type="password"]:focus,
	  input[type="date"]:focus,
	  input[type="datetime-local"]:focus,
	  input[type="tel"]:focus,
	  input[type="time"]:focus,
	  input[type="file"]:focus,
	  input[type="url"]:focus,
	  input[type="number"]:focus {
		color: white;
	  }
	}

	.ui.images {

	  &.grid-banners {

		> img {

		  margin: 0px 0px 20px 20px !important;
		}
	  }

	  &.left {

		> img {
		  float: left;
		}
	  }
	}

	.clear {

	  &.left {
		clear: left;
	  }

	  &.right {
		clear: right;
	  }

	  &.both {
		clear: both;
	  }
	}



	.ui.image {

	  > .ribbon.label {
		z-index: 9;
	  }
	}
  }