.ui {

  &.right {

    &.aligned {
      text-align: right !important;
    }
  }

  &.left {

    &.aligned {
      text-align: left !important;
    }
  }

  &.center {

    &.aligned {
      text-align: center !important;
    }
  }
}