.ui.imagetag {
	background: transparent;
	z-index: 4;

	> img {
	  height: 100% !important;
	  max-height: 80px !important;
	}
  }

.ui {
    &.label {
        &.seals {
            display: flex !important;
            flex-direction: column !important;
            align-content: space-between;
            position: absolute !important;
            top: 2em;
            width: 8em;
        }
    }
}

.ui {
    &.label {
        &.imageDiscount {
            text-align: center;
            z-index: 4;
            background: transparent;

            img {
                height: initial !important;
                max-width: 100%;
            }
        }
    }
}