<div class="empty-cart margin top small text center">
    <img src="/assets/image/cart-empty.png" alt="Sua sacola está Vazia">
    <div class="msgEmpty margin top small">
        <strong>Sua sacola está vazia</strong>
        <p class="margin top small">Você pode voltar a loja e aproveitar nossas ofertas!</p>
    </div>
</div>