.topbar {
    border-bottom: 1px solid #EEEEEE;
    color: #666666;
    padding: 5px 0;

    .location {
        display: flex;
        justify-content: center;
        align-items: center;

        .info {
            width: 100%;

            #headLocation {
                @media only screen and (max-width: $mobile-bp) {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    width: 100%;
                }
            }

            #changeLocation {
                cursor: pointer;
                border: none;
                background: transparent;
                padding: 0;
                margin: 0;
            }
        }
    }

    .list {
        line-height: initial;

        > .item {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            line-height: initial !important;

            i {
                color: #332B24;
                font-size: 18px;
            }

            a {
                color: #666666;
                font-size: 13px;
                text-transform: uppercase;
            }
        }



        span.text,
        .menu {
            @media screen and (max-width: $mobile-bp) {
                display: none;
            }
        }
    }

    .ui.pointing.dropdown {

        > .menu::after {
            background: #1b1c1d;
        }
    }

    .ui.grid > .row {
        padding: 0.2em 0em;
    }

    socialbar {

        .fa {
            margin-right: 5px;
        }

        i {
            font-size: 1.2em;
            line-height: 0.95em;

            &.facebook.icon {
                color: #475993 !important;
            }

            &.instagram.icon {
                color: #DE943F !important;
            }

            &.twitter.icon {
                color: #2795e9 !important;
            }

            &.youtube.icon {
                color: #dd4b39 !important;
            }

            &.google.icon {
                color: #dd4b39 !important;
            }
        }
    }
}
