@{
    ViewBag.Title = "Lista de Chá de Bebê";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}

@section breadcrumbs {
    <div class="ui container">
        <div class="ui one column grid stackable middle aligned">
            <div class="row">
                <div class="column">
                    <h1>@ViewBag.Title</h1>
                    <div class="ui breadcrumb text small">
                        <a class="section" href="/">Home</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/">Área do Cliente</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/">Nova Lista de Eventos</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<div class="ui container margin bottom large">
    <div class="ui grid">
        <div class="row stackable vertically divided">
            <div class="sixteen wide mobile five wide tablet four wide computer column">
                <div class="ui vertical menu aligned fluid">
                    <a class="item">
                        Dados da Lista
                    </a>
                    <a class="item">
                        Produtos
                    </a>
                    <a class="item active">
                        Lista de Convidados
                    </a>
                </div>
            </div>
            <div class="sixteen wide mobile eleven wide tablet twelve wide computer column">
                <div class="ui form">
                    <div class="three fields">
                        <div class="field">
                            <label>Nome do Convidado</label>
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="" value="" placeholder="João das Flores">
                            </div>
                        </div>
                        <div class="field">
                            <label>E-mail</label>
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" name="" value="" placeholder="email@email.com.br">
                            </div>
                        </div>
                        <div class="field">
                            <label>&nbsp;</label>
                            <button class="ui icon teal button">
                                Adicionar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ui search">
                        <div class="ui icon input fluid">
                            <input type="text" class="prompt" placeholder="Buscar...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>
                <div class="ui grid stackable">
                    <div class="row">
                        <div class="column">
                            <div class="ui form">
                                <table class="ui celled table">
                                    <thead>
                                    <tr>
                                        <th>Convidado</th>
                                        <th>E-mail</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>João das Flores</td>
                                        <td>email@email.com.br</td>
                                        <td class="ui center aligned">
                                            <button class="ui icon red button">
                                                <i class="trash alternate outline icon"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="3">
                                            <div class="ui right floated pagination menu">
                                                <a class="icon item">
                                                    <i class="left chevron icon"></i>
                                                </a>
                                                <a class="item">1</a>
                                                <a class="item">2</a>
                                                <a class="item">3</a>
                                                <a class="item">4</a>
                                                <a class="icon item">
                                                    <i class="right chevron icon"></i>
                                                </a>
                                            </div>
                                        </th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <a href="/Customer/Login" class="ui animated button large red left floated">
                                <div class="visible content">Cancelar</div>
                                <div class="hidden content">
                                    <i class="remove icon"></i>
                                </div>
                            </a>
                            <button type="submit"
                                    class="ui animated button large submit green right floated">
                                <div class="visible content">Enviar Convites</div>
                                <div class="hidden content">
                                    <i class="checkmark icon"></i>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

