.padding {

    &.small-p {
        padding: .3em 0 !important;
    }

    &.top {

        &.small {
            padding-top: 1em !important;
        }

        &.medium {
            padding-top: 2em !important;
        }

        &.large {
            padding-top: 3em !important;
        }
    }

    &.bottom {

        &.small {
            padding-bottom: 1em !important;
        }

        &.medium {
            padding-bottom: 2em !important;
        }

        &.large {
            padding-bottom: 3em !important;
        }
    }

    &.no {

        &.top {
            padding-top: 0 !important;
        }

        &.left {
            padding-left: 0 !important;
        }

        &.right {
            padding-right: 0 !important;
        }

        &.bottom {
            padding-bottom: 0 !important;
        }
    }

    &.none {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.margin {

    &.top {

        &.small {
            margin-top: 1em !important;
        }

        &.medium {
            margin-top: 2em !important;
        }

        &.large {
            margin-top: 3em !important;
        }
    }

    &.right {

        &.small {
            margin-right: 1em !important;
        }

        &.medium {
            margin-right: 2em !important;
        }

        &.large {
            margin-right: 3em !important;
        }
    }

    &.left {

        &.small {
            margin-left: 1em !important;
        }

        &.medium {
            margin-left: 2em !important;
        }

        &.large {
            margin-left: 3em !important;
        }
    }

    &.none {
        margin: 0 !important;
    }

    &.no {

        &.top {
            margin-top: 0 !important;
        }

        &.left {
            margin-left: 0 !important;
        }

        &.right {
            margin-right: 0 !important;
        }

        &.bottom {
            margin-bottom: 0 !important;
        }
    }

    &.bottom {

        &.small {
            margin-bottom: 1em !important;
        }

        &.medium {
            margin-bottom: 2em !important;
        }

        &.large {
            margin-bottom: 3em !important;
        }
    }

    &.rl-auto {
        margin: 0 auto;
        display: table;
    }
}

*.no-p {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}

*.no-m {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
}
