.text {
  &.color {

    &.white {
      color: $white !important;
    }

    &.red {
      color: $red !important;
    }

    &.orange {
      color: $orange !important;
    }

    &.yellow {
      color: $yellow !important;
    }

    &.olive {
      color: $olive !important;
    }

    &.green {
      color: $green !important;
    }

    &.teal {
      color: $teal !important;
    }

    &.blue {
      color: $blue !important;
    }

    &.violet {
      color: $violet !important;
    }

    &.purple {
      color: $purple !important;
    }

    &.pink {
      color: $pink !important;
    }

    &.brown {
      color: $brown !important;
    }

    &.grey {
      color: $grey !important;
    }

    &.black {
      color: $black !important;
    }

    &.checkout-success {
      color: $bg-checkout-success;
    }

    &.checkout-success-dark {
      color: $bg-checkout-success-dark;
    }

    &.checkout-success-error {
      color: $bg-checkout-error;
    }
  }
}
