@model IList<DomainProduct.Entities.Product>
<div class="ui container">
    <div class="ui grid">
        <div class="row one column">
            <div class="column">
                <div class="ui doubling four cards centered slideshow" data-arrow="true" data-dots="false" data-qtd="4">
                    @foreach (DomainProduct.Entities.Product product in Model)
                    {
                        <!-- Page: ~/Views/Shared/Object/Product/_ProductInCard.cshtml -->
                        @Html.Partial("Object/Product/_ProductInCard", product)
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui divider hidden"></div>
