<div class="column sixteen wide buttonsMiniCart hideme">
    <div class="ui grid one column">
        <div class="column">
            <button id="adicionarMaisProd" class="ui button fluid basic buttonsMiniCart">Adicionar mais Produtos</button>
        </div>
        <div class="column">
            <button class="ui button fluid large submit action buttonsMiniCart" id="btn_finalizar_" data-total-itens="" data-user-url="" onclick="location.href='@Url.Action("finalizarListaEvento", "eventList")'">
                Finalizar
            </button>
        </div>
    </div>
</div>