<div class="row two column botoes stackable">
    <div class="column">
        <button id="adicionarMaisProd" class="ui animated button fluid large basic"
                tabindex="0">
            <div class="visible content">Adicionar mais Produtos</div>
            <div class="hidden content">
                <i class="cart icon"></i>
            </div>
        </button>
    </div>
    <div class="column">
        <button class="ui animated button fluid large submit action" tabindex="0" id="btn_finalizar_" data-total-itens="" data-user-url="" onclick="location.href='@Url.Action("FinalizarListaEvento", "EventList")'">
            <div class="visible content">Finalizar</div>
            <div class="hidden content">
                <i class="right arrow icon"></i>
            </div>
        </button>
    </div>
</div>
