@model Tuple<string, DomainCompany.Entities.Recaptcha>
@if (Model != null)
{
    if (Model.Item2.Status && Model.Item2.Tipo.Contains(Model.Item1))
    {

        <input type='hidden' id='googleVersion' name='googleVersion' value='@Model.Item2.Versao' />
        <input type='hidden' id='googleResponse' name='googleResponse' value='' />
        <input type='hidden' id='googleModule' name='googleModule' value='@Model.Item1' />
        if (Model.Item2.Versao == 2)
        {
            <div id="gCaptcha" class="g-recaptcha" data-sitekey="@Model.Item2.SiteKey" data-callback="onCheckgCaptcha"></div>
            <script src="https://www.google.com/recaptcha/api.js"></script>
            <script>
                function onCheckgCaptcha() {
                    var googleRecaptchaVersion = "2";

                    if ($('#googleVersion').length > 0) {
                        googleRecaptchaVersion = $('#googleVersion').val();
                    }

                    var googleResponse = grecaptcha.getResponse();
                    $("#googleResponse").val(googleResponse);
                }
            </script>
        }
        else
        {
            <input type='hidden' id='googleSiteKey' name='googleSiteKey' value='@Model.Item2.SiteKey' />
            <script src='https://www.google.com/recaptcha/api.js?render=@Model.Item2.SiteKey'></script>
        }
    }
}
